.task-wrapper{
    background-color: #0079BF;
    width: 100vw;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overview-card{
    background-color: #FFF;
    width: 95vw;
    height: 78vh;
    margin: auto;
    border-radius: 5px;
    position: relative;
}

.overview-card-caption{
    padding-left: 28px;
    margin-top: 22px;
}

.overview-card-text{
    padding-left: 30px;
    margin-top: 35px;
    resize: none;
    font-family:'Roboto',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 18px;
    line-height: 21px;
    width: 60%;
    height: 50%;
    border: none;
    cursor: pointer;
}

.overview-card-text:focus{
    outline-width: 0;
    cursor: auto;
}

.overview-card-close{
    position: absolute;
    right: 23px;
    top: 17px;
    background-color: #ffffff00;
    border-color: #ffffff00;
    cursor: pointer;
}

@media (max-width: 440px) {
    .overview-card{
        width: 100%;
        height: 100%;
    }
}